<?xml version="1.0" encoding="utf-8"?>

<configuration>

 <config>

  <add key="DefaultPushSource" value="https://sarangeplus.jfrog.io/artifactory/api/nuget/v3/nuget-virtual" />

 </config>

 <packageSources>

  <add key="Artifactory shared Nuget" value="https://sarangeplus.jfrog.io/artifactory/api/nuget/v3/nuget-virtual" protocolVersion="3" />

  <!--For external Nuget repos use https://repo.churchofjesuschrist.org/artifactory/api/nuget/v3/nuget-shared-->

 </packageSources>

</configuration>
